.idea

model/

model_export/

__pycache__/

glovetest/TrainingData/

glovetest/Library/

glovetest/Temp/

glovetest/Assets/NoitomHi5/

glovetest/Assets/SteamVR/

python/\.ipynb_checkpoints/
glovetest/ProjectSettings/
