.idea

model/

model_export/

__pycache__/

glovetest/TrainingData/

glovetest/Library/

glovetest/Temp/

python/\.ipynb_checkpoints/
glovetest/ProjectSettings/

python/model_best/

binaries/

python/model_left/

python/model_right/

\.DS_Store
